      .text-uppercase{
            text-transform: uppercase;
        }
        .button{
            background-color: rgb(237, 0, 75);
            border-radius: 30px;
            padding: 8px 16px;
            margin: 30px;
            display: flex;
            width: 90px;
            display: inline-block;

            
        }
        a {
            text-decoration: none;
        }
        input{
            margin-top: 10px;
        }

        .mybg{
            background-color: rgb(172, 2, 223);
        }
        
        
        footer{
            
                background-color: #4D3399;
                text-align: center;
                color: aliceblue;
                padding: 10px;
            
        }
        
  